body {
    height: 100%;
    margin-left: 260px;

}

a {
    text-decoration: none;
    color: #555385;
}

.main-container {
    min-height: 100vh;
    padding-bottom: 100px;
}

nav {
    position: fixed;
    background-color: #afc7ce;
    padding-top: 0px;
    overflow-y: auto;
    width: 295px;
    

}

.actv3 {
    margin-left: -15px;
    height: 70vh;
    overflow-y: auto;
    background-color: transparent;
    color: white;

}


.actv3 ul {
    list-style-type: none;
    padding: 0;
    color: white;


}

.actv3 a{
    color: white;
    font-weight: bold;
}

.actv3 a:hover{
    color: #0b5967;
}

.actv3 li {
    margin-bottom: 80px;
    margin-left: 3px;
    list-style-type: none;
    margin-top: 20px;

}

.actv3::-webkit-scrollbar {
    width: 10px;
    
}

.actv3::-webkit-scrollbar-track {
    background: #afc7ce;
}

.actv3::-webkit-scrollbar-thumb {
    background: #555385;
    border-radius: 5px;
}

.actv3::-webkit-scrollbar-thumb:hover {
    background: #333;
}


.userMenu{
        background-color: transparent;
        margin-top: 100px;
}

[id^="obs3_9_"], [id^="obs3_3_"] , [class^="obs3_3_"]{
    background-color: #d6fff7;
    border-color: transparent;
    text-align: right;
}

#puntajeIndividual, #individualCant, #evaluarIndividual ,#comisionIndividual ,#obsIndividual,
#puntajeGrupales ,#grupalesCant ,#evaluarGrupales ,#comisionGrupal ,#obsGrupal,
#cantAsesoria, #subtotalAsesoria, #cantServicio, #subtotalServicio,
 #cantPracticas, #subtotalPracticas {
    text-align: right;
}

#individualCant, #grupalesCant, 
#cantAsesoria, #cantServicio, #cantPracticas, .cantidad,
#cantCongresoInt, #cantCongresoNac, #cantCongresoLoc, 
#cantDifusionExt, #cantDifusionInt, #cantRepDifusionExt, #cantRepDifusionInt, #cantDA, #cantCAAC, #puntaje3_7,
#cantInicioFinanExt, #cantInicioInvInterno, #cantReporteFinanciamExt, #cantReporteInvInt, [id^="puntaje3_9_"], #puntaje3_8, #puntaje3_6, #puntaje3_8_1, #cantCientifico, #cantDivulgacion, #cantTraduccion, #cantArbitrajeInt, #cantArbitrajeNac, #cantSinInt, #cantSinNac, #cantAutor, #cantEditor, #cantWeb{
    border-color: transparent;
    background-color: #c1cfd3;
    text-align: right;
}



#comisionIndividual, #comisionGrupal, #obsGrupal, #obsIndividual, #comisionAsesoria,
#obsAsesoria, #comisionServicio, #obsServicio, #comisionPracticas, #obsPracticas,
#obsCientificos, #obsDivulgacion, #obsTraduccion, #obsArbitrajeInt, #obsArbitrajeNac, #obsSinInt, #obsSinNac, #obsAutor, #obsEditor, #obsWeb,
#comisionCientificos, #comisionDivulgacion, #comisionTraduccion, #comisionArbitrajeInt, #comisionArbitrajeNac, #comisionSinInt, #comisionSinNac, #comisionAutor, #comisionEditor, #comisionWeb, .comision3_13{
    background-color: #d6fff7;
    border-color: transparent;
    text-align: center;
}


#academica , #servicio , #practicas{
    font-weight: bold;
    text-align: center;
}


#obsInicioFinancimientoExt, #obsInicioInvInterno, #obsReporteInvInt,  #obsDifusionExt, #obsDifusionInt, #obsRepDifusionExt, #obsRepDifusionInt,
#comCGUtitular, #comCGUespecial, #comCGUpermanente, #comCAACtitular, #comCAACintegCom, #comComDepart, #comComPEDPD, #comComPartPos, #comRespPos, #comRespCarrera, #comRespProd, #comRespLab,
#comExamProf, #comExamAcademicos, #comPRODEPformResp, #comPRODEPformInteg, #comPRODEPenconsResp, #comPRODEPenconsInteg, #comPRODEPconsResp, #comPRODEPconsInteg, 
#obsComOrgInt, #obsComOrgNac, #obsComOrgReg, #obsComApoyoInt, #obsComApoyoNac, #obsComApoyoReg, #obsCicloComOrgInt, #obsCicloComOrgNac, #obsCicloComOrgReg, #obsCicloComApoyoInt, #obsCicloComApoyoNac, #obsCicloComApoyoReg,
#obsCGUtitular, #obsCGUespecial, #obsCGUpermanente, #obsCAACtitular, #obsCAACintegCom, #obsComDepart, #obsComPEDPD, #obsComPartPos, #obsRespPos, #obsRespCarrera, #obsRespProd, #obsRespLab,
#obsExamProf, #obsExamAcademicos, #obsPRODEPformResp, #obsPRODEPformInteg, #obsPRODEPenconsResp, #obsPRODEPenconsInteg, #obsPRODEPconsResp, #obsPRODEPconsInteg
{
    background-color: transparent;
    border-color: transparent;
    text-align: right;
}

#comisionInicioFinancimientoExt, #comisionInicioInvInterno, #comisionReporteFinanciamExt, #comisionReporteInvInt, #comisionArbInt,
#comisionArbNac, #comisionPubInt, #comisionPubNac,#comisionRevInt, #comisionRevNac,#comisionRevista, 
#obsArbInt, #obsArbNac, #obsPubInt, #obsPubNac, #obsRevInt,#obsRevNac, #obsRevista, #comisionDifusionExt,
#comisionDifusionInt, #comisionRepDifusionExt, #comisionRepDifusionInt, #comisionComOrgInt, #comisionComOrgNac, #comisionComOrgReg, #comisionComApoyoInt, #comisionComApoyoNac, 
#comisionComApoyoReg, #comisionCicloComOrgInt, #comisionCicloComOrgNac, #comisionCicloComOrgReg, #comisionCicloComApoyoInt, #comisionCicloComApoyoNac, #comisionCicloComApoyoReg{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    

}

.nav-item, .nav-link, .nav-link2 {
    border-style: none;
    
}

.nav-link2{
    font-size: medium;
}

#cantCGUtitular, #cantCGUespecial, #cantCGUpermanente, #cantCAACtitular, #cantCAACintegCom, #cantComDepart, #cantComPEDPD, #cantComPartPos,
#cantRespPos, #cantRespCarrera, #cantRespProd, #cantRespLab, #cantExamProf, #cantExamAcademicos, #cantPRODEPformResp, #cantPRODEPformInteg, #cantPRODEPenconsResp,
#cantPRODEPenconsInteg, #cantPRODEPconsResp, #cantPRODEPconsInteg, #cantComOrgInt, #cantCicloComApoyoReg, #cantComOrgReg, #cantCicloComApoyoNac,
#cantComOrgNac, #cantComOrgReg, #cantComApoyoInt, #cantComApoyoNac, #cantComApoyoReg, #cantCicloComOrgInt, #cantCicloComOrgNac, #cantCicloComOrgReg, #cantCicloComApoyoInt,
#cantArbInt, #cantArbNac, #cantPubInt,#cantPubNac,#cantRevInt, #cantRevNac,#cantRevista, #cantPatentes, #cantPrototipos, #r1, #r2, #r3, .elabInput{
    background-color: #c1cfd3;
    text-align: right;
    border-color:transparent;
}

#actvCant, #cantidadTd{
    text-align: right;
}

#obsCongresoInt, #obsCongresoNac, #obsCongresoLoc, #obsArbInt, #obsArbNac, #obsPubInt, #obsPubNac, #obsRevInt, #obsRevNac, #obsRevista, #obsPatentes, #obsPrototipos, #obsInicioFinancimientoExt, #obsInicioInvInterno, #obsReporteFinanciamExt, #obsReporteInvInt, #obsDifusionExt, #obsDifusionInt, #obsRepDifusionExt, #obsRepDifusionInt, 
#obsComOrgInt, #obsComOrgNac, #obsComOrgReg, #obsComApoyoInt, #obsComApoyoNac, #obsComApoyoReg, #obsCicloComOrgInt, #obsCicloComOrgNac, #obsCicloComOrgReg, #obsCicloComApoyoInt, #obsCicloComApoyoNac, #obsCicloComApoyoReg, #obsCGUtitular, #obsCGUespecial, #obsCGUpermanente, #obsCAACtitular, #obsCAACintegCom, #obsComDepart, #obsComPEDPD, 
#obsComPartPos, #obsRespPos, #obsRespCarrera, #obsRespProd, #obsRespLab, #obsExamProf, #obsExamAcademicos, #obsPRODEPformResp, #obsPRODEPformInteg, #obsPRODEPenconsResp, #obsPRODEPenconsInteg, #obsPRODEPconsResp, #obsPRODEPconsInteg{
    font-size: .7rem;
}



td[id^="form3_17_"] {
width: 200px;
}

body.dark-mode td#comisionAsesoria, body.dark-mode td#comisionServicio, body.dark-mode td#comisionPracticas,
body.dark-mode td#obsAsesoria, body.dark-mode td#obsServicio, body.dark-mode td#obsPracticas, body.dark-mode td.td_form3_15{
    background-color: #82bdb2!important;


}

#comisionCongresoInt, #obsCongresoInt, #comisionCongresoNac, #obsCongresoNac, #comisionCongresoLoc, #obsCongresoLoc{
    background-color: transparent;
}

span#comDA, span#comNCAA
{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    padding-inline-start: 50px;
}

#comisionAsesoria, #obsAsesoria,
#comisionServicio, #obsServicio,
#comisionPracticas,#obsPracticas, td#subtotalCientificos, td#subtotalDivulgacion, 
td#subtotalTraduccion, td#subtotalArbitrajeInt, td#subtotalArbitrajeNac, td#subtotalSinInt, td#subtotalSinNac, td#subtotalAutor, td#subtotalEditor, td#subtotalWeb,
td#subtotalComOrgInt, td#subtotalComOrgNac, td#subtotalComOrgReg, td#subtotalComApoyoInt, td#subtotalComApoyoNac, td#subtotalComApoyoReg, td#subtotalCicloComOrgInt, td#subtotalCicloComOrgNac, td#subtotalCicloComOrgReg, td#subtotalCicloComApoyoInt, td#subtotalCicloComApoyoNac, td#subtotalCicloComApoyoReg
{
    text-align: center;
}
td#subtotalCientificos, td#subtotalDivulgacion, 
td#subtotalTraduccion, td#subtotalArbitrajeInt, td#subtotalArbitrajeNac, td#subtotalSinInt, td#subtotalSinNac, td#subtotalAutor, td#subtotalEditor, td#subtotalWeb{
    padding-inline-start: 5px; 
}

#comisionArbInt,
#comisionArbNac, #comisionPubInt, #comisionPubNac,#comisionRevInt, #comisionRevNac,#comisionRevista, 
#obsArbInt, #obsArbNac, #obsPubInt, #obsPubNac, #obsRevInt,#obsRevNac, #obsRevista, #comisionDifusionExt,
#comisionDifusionInt, #comisionRepDifusionExt, #comisionRepDifusionInt, #comisionComOrgInt, #comisionComOrgNac, #comisionComOrgReg, #comisionComApoyoInt, #comisionComApoyoNac, 
#comisionComApoyoReg, #comisionCicloComOrgInt, #comisionCicloComOrgNac, #comisionCicloComOrgReg, #comisionCicloComApoyoInt, #comisionCicloComApoyoNac, #comisionCicloComApoyoReg{
    padding-inline-start: 65px; 
}

/* #comisionCientificos, #comisionDivulgacion, #comisionTraduccion, #comisionArbitrajeInt, #comisionArbitrajeNac, #comisionSinInt, #comisionSinNac, #comisionAutor, #comisionEditor, #comisionWeb{
    padding-inline-start: 5px; 
} */

/* #comisionComOrgInt, #comisionComOrgNac, #comisionComOrgReg, #comisionComApoyoInt, #comisionComApoyoNac, #comisionComApoyoReg, #comisionCicloComOrgInt, #comisionCicloComOrgNac, #comisionCicloComOrgReg, #comisionCicloComApoyoInt, #comisionCicloComApoyoNac, #comisionCicloComApoyoReg */
   
body.dark-mode span#comisionComOrgInt, body.dark-mode span#comisionComOrgNac, body.dark-mode span#comisionComOrgReg, body.dark-mode span#comisionComApoyoInt, body.dark-mode span#comisionComApoyoNac, body.dark-mode span#comisionComApoyoReg, body.dark-mode span#comisionCicloComOrgInt, body.dark-mode span#comisionCicloComOrgNac, body.dark-mode span#comisionCicloComOrgReg, body.dark-mode span#comisionCicloComApoyoInt, body.dark-mode span#comisionCicloComApoyoNac, body.dark-mode span#comisionCicloComApoyoReg{
    color: white;
}
     